/bin/
/local/
/build/
/wheels/
/pypy*/
/python*/
.vscode/
.DS_Store
__pypackages__/
*.egg-info/
.pdm.toml
.mypy_cache/
.env*
.python-version
/conf/settings.py
*.icloud
*.pyc
*.tar.bz2
*.tar.gz
*.whl
/src/*.egg-info/
/src/**/*.c
.devcontainer
data/*
**/data/*
*.ini
.ruff*


